ul {
  list-style: none;
  padding: 24px;
  position: relative;
  margin: 0px;
}

p {
  color: rgb(0, 0, 0);
  font-weight: 600;
  text-align: center;
  background-color: white;
  margin: 0 auto;
  max-width: 30em;
  padding: 1em;
  border-radius: 10px;
}

.error-message {
  color: tomato;
}
